<footer class="footer">
    <div class="footer-container">
        <div class="footer-left"><a href="/atom.xml" class="footer-item">RSS</a>
            <span class="post-meta-gap">|</span>
            <a href="/sitemap.xml" class="footer-item">Sitemap</a>
        </div>
        <div class="footer-right"><span>Base on <a href="https://github.com/fuxiaohei/pugo" target="_blank"
                    class="footer-item">PuGo v0.1.18</a></span></div>
    </div>
</footer>
<script src="/static/js/prism.js"></script>
<script src="/static/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HZ7KDTMQGZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-HZ7KDTMQGZ');
</script>
<script id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>
    LA.init({
        id: "JgQKqXcskjN3xofP",
        ck: "JgQKqXcskjN3xofP"
    })
</script>